@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: 1920 – 13;
		--web-view-id: n_920__13;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		--web-page-font: Arial, sans-serif;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#null {
		position: relative;
		width: 1920px;
		height: 1080px;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: 50%;
		overflow: hidden;
	}
}